# Системные файлы и директории
.DS_Store
Thumbs.db

# Логи и временные файлы
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы окружения
.env
.env.local
.env.*.local

# Кэш пакетов
node_modules/
.pnpm-debug.log

# Директории сборки
dist/
build/
out/
.cache/
temp/
tmp/

# Настройки IDE/редакторов
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?












